<div>
  <app-navbar></app-navbar>
  <hr style="margin: 0rem 0 !important" />
</div>
<div class="container">
  <div class="accordion row" id="accordionExample" style="height:100%;width:auto;">
    <div class="col-sm-3">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Introduction
          </button>
        </h2>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Information We Collect
          </button>
        </h2>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            How We Use Your Information
          </button>
        </h2>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Cookies and Tracking Technologies
          </button>
        </h2>
      </div>
    </div>
    <div class="col-sm-9">
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2 class="mb-3">Introduction</h2>
          <p>At Supportify, we take your privacy seriously. This Privacy Policy outlines how we collect, use, and protect your personal information when you use our website and services. By using our website or services, you consent to the practices described in this policy.</p>
        </div>
      </div>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2 class="mb-3">Information We Collect</h2>
          <p>We may collect personal information such as your name, email address, and contact details when you sign up for our services, make a purchase, or contact us. We may also collect non-personal information, such as your IP address, browser type, and browsing behavior for analytical purposes.</p>
        </div>
      </div>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2 class="mb-3">How We Use Your Information</h2>
          <p>We use the information we collect to provide and improve our services, process transactions, communicate with you, and for marketing purposes. We may also share your information with trusted third parties who assist us in operating our website and services.</p>
        </div>
      </div>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2 class="mb-3">Cookies and Tracking Technologies</h2>
          <p>We use cookies and other tracking technologies to enhance your browsing experience, analyze website traffic, and personalize content and advertisements. You can adjust your browser settings to control or disable cookies.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>