<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://firebasestorage.googleapis.com/v0/b/studymate-c44e8.appspot.com/o/4957136_Mobile%20login.svg?alt=media&token=73336e6b-6cc5-4da1-bc24-8378a7c2d5bd" class="img-fluid" alt="Phone image" />
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
          <!-- Email input -->
          <div class="text-center mb-4">
            <img src="https://firebasestorage.googleapis.com/v0/b/studymate-c44e8.appspot.com/o/50994.jpg?alt=media&token=2c6f93a3-e74a-4219-9305-9d5a33815442" class="rounded-circle avatar mb-3" alt="Avatar" />
            <h3>Login</h3>
          </div>
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form1Example13" class="form-control form-control-lg" placeholder="Email" formControlName="emailAddress" required />
          </div>
          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" placeholder="Password" formControlName="password" required />
          </div>
          <div class="d-flex justify-content-around align-items-center mb-4">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3"  name="rememberMe" />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
            <a href="#!">Forgot password?</a>
          </div>
          <!-- Submit button -->
          <div class="d-flex justify-content-center my-4">
            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" [disabled]="!loginForm.valid">
              Login
            </button>
          </div>
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
          </div>
          <div class="text-center mt-2">
            <a routerLink="/register" class="btn btn-link">Don't have an account? Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>